doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Yoga
        link(rel="stylesheet" href="libs/normalize-css/normalize.css")
        link(rel="stylesheet" href="libs/owl.carousel/owl.carousel.min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        header#header
            .nav-wrapper
                nav.nav
                    ul.nav-menu
                        li.nav-menu__item.nav-menu__item-active:  a(href="#header") About us
                        li.nav-menu__item:  a(href="#program") Reservation
                        li.nav-menu__item:  a(href="#gallery") Gallery
                        li.nav-menu__logo:  .nav-logo
                                                a(href="index.html").nav-logo
                                                    img(src="img/logo.svg" alt="Yoga")
                                                    | Yoga
                        li.nav-menu__item:  a(href="#") Blog
                        li.nav-menu__item:  a(href="#") Elements
                        li.nav-menu__item:  a(href="#") Shop
            .wrapper-bg
                .wrapper-bg-two-bg
                    .form-wrapper
                        form.form
                            h2 Trial Class
                            input(type="text" placeholder="Enter your name")
                            input(type="text" placeholder="Enter your phone")
                            select.form__select
                                option Chose your class
                                option Yoga 1
                                option Yoga 2
                                option Yoga 3
                            input(type="submit" value="Try it").__submit
                        .header-presentation
                            h1 Just balance your mind & body
                            .header-presentation__prescription Create the healthy living for yourself
        section#program
            h3 Yoga feature program
            .program__prescription Our Classes
            .program-item__container
                .program-item
                    img(src="img/program-item-1.png" alt="Ashtanga - Hatha").program-item__img
                    .program-item-content
                        .program-item__header Yoga for health
                        p.program-item__prescription
                            | Minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod
                            |  tempor incididunt.
                        .program-item__direction Ashtanga - Hatha
                .program-item
                    img(src="img/program-item-2.png" alt="Ashtanga - Hatha").program-item__img
                    .program-item-content
                        .program-item__header Yoga for lose weight
                        p.program-item__prescription
                            | Minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod
                            |  tempor incididunt.
                        .program-item__direction Ashtanga - Hatha
                .program-item
                    img(src="img/program-item-3.png" alt="Ashtanga - Hatha").program-item__img
                    .program-item-content
                        .program-item__header Yoga for children
                        p.program-item__prescription
                            | Minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod
                            |  tempor incididunt.
                        .program-item__direction Ashtanga - Hatha
                .program-item
                    img(src="img/program-item-4.png" alt="Ashtanga - Hatha").program-item__img
                    .program-item-content
                        .program-item__header Yoga for elderly
                        p.program-item__prescription
                            | Minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod
                            |  tempor incididunt.
                        .program-item__direction Ashtanga - Hatha
        section#gallery
            .gallery-container
                .gallery-item
                    img(src="img/gallery-img-1.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
                .gallery-item
                    img(src="img/gallery-img-2.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
                .gallery-item
                    img(src="img/gallery-img-3.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
                .gallery-item
                    img(src="img/gallery-img-4.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
                .gallery-item
                    img(src="img/gallery-img-5.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
                .gallery-item
                    img(src="img/gallery-img-6.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
                .gallery-item
                    img(src="img/gallery-img-7.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
                .gallery-item
                    img(src="img/gallery-img-8.png" alt="photo yoga").gallery-item__img
                    i.glyphicon.glyphicon-search.gallery-item__pointer
        section#aboutUs
            .aboutUS-container
                .aboutUS-information
                    h4 About Us
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                     | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                     |   veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex
                     |   ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse
                     |   cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
                .aboutUS-slider.owl-carousel.owl-theme
                    img(src="img/slider-img.png" alt="yoga slider").aboutUS-slider-item
                    img(src="img/slider-img.png" alt="yoga slider").aboutUS-slider-item
                    img(src="img/slider-img.png" alt="yoga slider").aboutUS-slider-item
                    img(src="img/slider-img.png" alt="yoga slider").aboutUS-slider-item
        script(src="libs/jquery/jquery.min.js")
        script(src="libs/scroll2id/PageScroll2id.min.js")
        script(src="libs/owl.carousel/owl.carousel.min.js")
        script(src="js/common.js")
