doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Yoga
        link(rel="stylesheet" href="libs/normalize-css/normalize.css")
        link(rel="stylesheet" href="css/style.css")
    body
        header#header
            nav.nav
                ul.nav-menu
                    li.nav-menu-item:  a About us
                    li.nav-menu-item:  a Reservation
                    li.nav-menu-item:  a Gallery
                    li.nav-menu-item:  a Blog
                    li.nav-menu-item:  a Elements
                    li.nav-menu-item:  a Shop
        script(src="libs/jquery/jquery.min.js")
        script(src="js/common.js")
